## Project root dir (folder) "coded_cloud_configuration"
.env
node_modules/
#   # chunks
chunks/*

# dataReturns/
dataReturns/sensitiveFiles/*

# scripts/
#   # cloudSetup_phase/
.assign_rbac.sh
.entpr-app_roles.sh
.Env
#       # pwsh/
.createCert.ps1

##Exceptions/Explicitly allow(s)
!dataReturns/
!dataReturns/*